<% if (role.includes('999')) { %>
  <%- include('./../comon/header') %>
    <% } else { %>
      <%- include('./../comon/headerTeacher') %>
        <% } %>

          <link rel="stylesheet" type="text/css" href="/styles/viewClass.css" />

          <style>
                  /* Style */

                        #showAllStudents .boxFeedBack tr th:nth-child(2){
              width: 5%;
                        }
            #contentTable {
    table-layout: fixed;
    width: 100%; /* Đảm bảo bảng không bị co lại */
}


        
            <% if ( !role.includes('999')) {
              %>.control .btnClass {
                display: none;
              }

              #contentTable .item .Trash1 {
                display: none;
              }

              #addStudents {
                display: none;
              }

              #showAllStudents .boxFeedBack tr th:nth-child(5) {
                display: none;
              }

              #contentTable tr td:nth-child(5) {
                display: none;
              }

              <%
            }

            %>
           
          </style>


          <!--Main -->
          <div class="main">
            <%- include('./../comon/topBarSearch') %>
              <!--Main-->
              <div class="viewClass">
                <div class="header">
                  <h5>Danh sách tất cả các lớp</h5>
                  <!-- Admin  -->
                  <div data-id="<%= userId %>" id="teacher">
                    <% if (role.includes('999')) { %>
                      <select class="form-select teacher" name="teacher" required="">
                        <option disabled="">Giáo viên đứng lớp</option>
                        <option value="all">Tất cả </option>
                        <!-- Data select -->
                        <% if (data && data.length> 0) { %> <% data.forEach(item=> { %>
                            <option value="<%= item._id %>">
                              <%= item.username %>
                            </option>
                            <% }); %>
                              <% } %>
                                <!-- The end -->
                      </select>
                      <% } else { %>
                        <select disabled class="form-select teacher" name="teacher" required="">
                          <option disabled="">Giáo viên đứng lớp</option>
                          <!-- Data select -->
                          <% if (data && data.length> 0) { %>
                            <% data.forEach(item=> { %>
                              <option value="<%= item._id %>" <%=item._id==userId ? 'selected' : '' %>><%= item.username
                                  %>
                              </option>
                              <% }); %>
                                <% } %>
                                  <!-- The end -->
                        </select>
                        <% } %>
                  </div>


                </div>
                <!--  -->
              </div>
     
              <% if (role.includes('999')) { %>
                <div class="control">
                      <a href="/admin/class">
                  <button class="plusClass">
                    <i class="fa-solid fa-plus"></i>
                    Tạo lớp
                  </button>
                </a>
                 <a href="/admin/subject">
                  <button class="plusClass subject">
                    <i class="fa-solid fa-plus"></i>
                    Danh sách môn dạy
                  </button>
                </a>
                 <div class="fileInput">
          <label for="fileInput" class="btn btn-success">
            Select
            <i style="pointer-events: none" class="fa-solid fa-file-excel"></i>
          </label>
          <input id="fileInput" style="display: none" type="file" />
        </div>

        <!-- <input type="file" id="fileInput" /> -->
        <button class="btn btn-success" id="importButton">
          Import
          <!-- <i style="pointer-events: none" class="fa-solid fa-file-excel"></i> -->
        </button>
                </div>
                <% } %>
                  <div id="contentClass" class="contentClass">
                    <div class="itemClass">
                      <p>MD18302</p>
                      <p><span>Số lượng học sinh: </span>43</p>
                      <p><span>Ca dạy: </span>43</p>
                      <p><span>Ngày dạy: </span>2, 5</p>
                      <!-- Admin -->
                      <div class="control">
                        <div class="btnClass" id="delClass">
                          <i class="fa-solid fa-trash"></i>
                        </div>
                        <div class="btnClass" id="editClass">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Admin -->
                  <div id="dialogEditClass" class="dialogEditClass dialogAllStudents">
                    <div class="container">
                      <h6>Chỉnh sửa lớp</h6>
                    </div>
                    <form id="formClass" class="row col-12 mx-auto g-3 needs-validation123" novalidate>
                      <div class="col-12">
                        <label for="nameClass" class="form-label">Tên lớp</label>
                        <input type="text" class="form-control" id="nameClass" name="nameClass" required />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Vui lòng nhập nameClass</div>
                      </div>

                      <div class="col-12">
                        <label for="pemission" class="form-label">Giáo viên</label>
                        <div id="containerTeacher">
                          <select class="form-select selectTeacher" id="pemission" name="pemission" required>
                            <option selected disabled value="">Giáo viên dạy lớp</option>
                            <% if (data && data.length> 0) { %> <% data.forEach(item=> { %>
                                <option value="<%= item._id %>">
                                  <%= item.username %>
                                </option>
                                <% }); %>
                                  <% } %>
                          </select>
                          <!--  -->
                          <select class="form-select selectTeacher mt-2" id="pemission1" name="pemission" required>
                            <option selected disabled value="">Giáo viên dạy lớp</option>
                            <% if (data && data.length> 0) { %> <% data.forEach(item=> { %>
                                <option value="<%= item._id %>">
                                  <%= item.username %>
                                </option>
                                <% }); %>
                                  <% } %>
                          </select>
                        </div>
                        <div class="invalid-feedback">Vui lòng chọn đúng loại tài khoản</div>
                      </div>

                      <div class="col-12">
                        <label for="study1" class="form-label">Ca Học</label>
                        <select class="form-select" id="study1">
                          <option value="1">1 (7h30-9h)</option>
                          <option value="2">2 (9h-10h30)</option>
                          <option value="3">3 (14h-15h30)</option>
                          <option value="4">4 (17h-18h30)</option>
                          <option value="5">5 (18h30-20h)</option>
                          <option value="6">6 (19h30-21h)</option>
                        </select>
                        <div class="invalid-feedback">Vui lòng nhập ca học.</div>
                      </div>
                      <div class="col-12">
                        <label for="daysContainer1" class="form-label">Ngày học</label>
                        <div id="daysContainer1">

                        </div>
                        <button type="button" id="addDayButton1" class="btn btn-secondary mt-4">
                          Thêm ngày học
                        </button>
                      </div>

                      <!-- Submit form -->
                      <div class="col-12">

                        <button id="saveClass" class="btn btnEdit  btn-primary" type="submit">Lưu</button>
                      </div>
                      <!--  -->
                    </form>
                    <div class="btn1 xmark">
                      <i class="fa-solid fa-xmark"></i>
                    </div>
                  </div>

                  <!-- View All Students -->
                  <div id="showAllStudents" class="dialogAllStudents">
                    <div class="container">
                      <div class="header col-12 row algin items-center">
                        <h6 class="col-3" id="nameClassD">MD18302</h6>
                        <div class="col-6 row">
                          <input class="col-7" id="IdStudentsAdd" type="text" placeholder="ID Học Sinh">
                          <div id="addStudents" class="addStudentsv">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                        </div>
                        <div class="col-2">
                          <button id="btnFeedBackBulk" class="btnFeedBackBulk btn btn-primary" disabled>
                            <i class="fa-solid fa-comment"></i>
                            Đánh giá nhóm
                          </button>
                      </div>
                      </div>
                      <div class="containerStudents row">
                        <table class="boxFeedBack col-12">
                          <tbody style="height: 50px;">
                            <tr>
                              <th>
                              <input type="checkbox" id="selectAll">  
                              <label for="selectAll">Chọn tất cả</label>
                              </th>
                              <th>STT</th>
                              <th>ID</th>
                              <th>Tên Học Sinh</th>
                              <th>Số điện thoại phụ huynh</th>
                              <th>Chức Năng</th>
                            </tr>
                          </tbody>
                          <!--BODY -->
                          <tbody id="contentTable">
                            <tr class="item">
                              <td  style="height: 35px">
                                <strong>1</strong>
                              </td>
                              <td>Phạm Xuân Đạt</td>
                              <td>0377723422</td>
                              <td>
                                <button>
                                  <i class="fa-solid fa-street-view"></i>
                                  Đánh giá
                                </button>
                                <button>
                                  <i class="fa-solid fa-trash"></i>
                                  Xoá
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="btn1 xmark">
                      <i class="fa-solid fa-xmark"></i>
                    </div>

                    <!-- Dialog đánh giá -->
                    <!-- <div class="dialogReview">
        <div class="container">
          <div class="header">
            <p class="nameStudents" >Phạm Xuân Đạt</p>
         <% if (role.includes('999')) { %>
            <p class="phoneStudents"></p>
         <% } %>
          </div>
          <div class="Evaluate">
            <h6>Đánh giá học sinh</h6>
            <textarea 
            style="padding: 30px;"
            name="content" id="EvaluateContent"></textarea>
          </div>
          <btn class="btn createEvaluate"> Tạo đánh giá </btn>
          <div class="btn1 xmark">
            <i id="closeTab" class="fa-solid fa-xmark"></i>
          </div>
        </div>
      </div> -->
                    <!-- The end -->
                    <div class="dialogReview ">
                      <div class="container">
                        <div class="headerBulkFeed">
                          <p class="text-center fw-bold ">Số học sinh đánh giá </p>  
                          <div class="list-students">
                            <div class="item row algin-center items-center">
                              <p class="col-7">Phạm Xuân Đạt</p>
                            <button class="btn btn-outline-warning red col-3"> 
                          <i class="fa-solid fa-trash"></i>
                              Xoá
                           </button>
                              </div>
                          
                           </div>
                        </div>
                        <div class="header ">
                          <p class="nameStudents">Phạm Xuân Đạt</p>
                          <p class="phoneStudents">0377723422</p>
                        </div>

                        <table class="evaluation-table">
                          <thead>
                            <tr>
                              <th>Ngôn ngữ</th>
                              <th>Level</th>
                              <th>Số lượng bài tập</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% language.forEach((item)=> { %>
                              <tr class="language" data-id="<%= item._id %>">
                                <td>
                                  <%= item?.nameCode %>
                                </td>
                                <td>
                                  <select>
                                    <option value="">Chọn</option>
                                    <option value="1">Level 1</option>
                                    <option value="2">Level 2</option>
                                    <option value="3">Level 3</option>
                                  </select>
                                </td>
                                <td><input type="number" min="0"  /></td>
                              </tr>
                              <% }) %>

                          </tbody>
                        </table>

                        <div class="row">
                          <div class="evaluation-metrics col-4">
                            <p>Kỹ năng lập trình:</p>
                            <div class="radio-group">
                              <input type="radio" name="programming-skill" value="good" id="good" />
                              <label for="good">Tốt</label>

                              <input type="radio" name="programming-skill" value="rather" id="rather" />
                              <label for="rather">Khá</label>

                              <input type="radio" name="programming-skill" value="medium" id="medium" />
                              <label for="medium">Trung bình</label>
                            </div>

                            <p>Tư duy môn học:</p>
                            <div class="radio-group">
                              <input type="radio" name="thinking-skill" value="good" id="good-min" />
                              <label for="good-min">Tốt</label>

                              <input type="radio" name="thinking-skill" value="rather" id="fair-min" />
                              <label for="fair-min">Khá</label>

                              <input type="radio" name="thinking-skill" value="medium" id="average-min" />
                              <label for="average-min">Trung bình</label>
                            </div>
                          </div>
                          <div class="Evaluate col-8">
                            <textarea style="padding: 30px" name="content" id="EvaluateContent"></textarea>
                          </div>
                        </div>

                        <btn class="btn createEvaluate"> Đánh giá học sinh </btn>
                        <div class="btn1 xmark">
                          <i id="closeTab" class="fa-solid fa-xmark"></i>
                        </div>
                      </div>
                    </div>

                    <!-- Add Students -->
                    <!-- <div class="dialogAddStudents">
                <div class="container">
                  
                </div>
       </div> -->
                  </div>
          </div>

          <!--  -->
          <script type="module" src="/tinymce/tinymce.min.js"></script>
          <script type="module" src="/JS/viewClass.js"></script>
          <!--  -->
          <%- include('./../comon/footer') %>
            </div>