<%- include('comon/header') %>
<!-- Main -->
<div class="main">
  <%- include('comon/topBarSearch') %>
  <style>
    .content {
      padding: 30px;
    }
    .modal {
      background-color: #2e2d2d5f;
    }
    h5 {
      background-color: rgba(25, 135, 84, 1);
      color: white;
      border-radius: 5px;
      padding: 15px;
      text-align: center;
    }
    .table thead tr th {
      background-color: rgba(25, 135, 84, 1);
      color: white;
    }
  </style>
  <!--Main-->
  <div class="container content">
   <div class="d-flex align-items-center justify-content-between mb-3">
      <h5>Quản lý bài kiểm tra</h5>
      <div class="action">
        <a class="btn btn-success" href="/admin/exam">
        <i style="pointer-events: none" class="fa-solid fa-book"></i>
          Exam
      </a>
        </a>
           <a class="btn btn-success" >
        <i style="pointer-events: none" class="fa-solid fa-user-circle"></i>
          <strong>User: </strong>
          <%= TrackingExam.length %>
      </a>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Points</th>
          <th scope="col">Ratio</th>
        </tr>
      </thead>
      <tbody>
        <!-- #region -->
        <% if (TrackingExam && TrackingExam.length > 0) { %> <% TrackingExam.forEach((rank,
        index) => { %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= rank.email %></td>
          <td><%= rank?.name %></td>
          <td><%= rank?.Score %></td>
          <td><%= ((rank?.Score / max) * 100).toFixed(2)%> %</td>
        </tr>
        <% }); %> <% } else { %>
        <tr>
          <td colspan="5">Không có dữ liệu</td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <!-- <div class="controlTable">

    </div> -->
    <div class="card-footer">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
            <a
              class="page-link"
              href="/admin/exam/<%= id %>/<%= max %>/?page=<%= currentPage - 1 %>"
              tabindex="-1"
              aria-disabled="true"
              >Previous</a
            >
          </li>
          <% for(let i = 1; i <= totalPages; i++) { %>
          <li class="page-item <%= currentPage === i ? 'active' : '' %>">
            <a
              class="page-link"
              href="/admin/exam/<%= id %>/<%= max %>/?page=<%= i %>"
              ><%= i %></a
            >
          </li>
          <% } %>
          <li
            class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>"
          >
            <a
              class="page-link"
              href="/admin/exam/<%= id %>/<%= max %>/?page=<%= currentPage + 1 %>"
              >Next</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- Popup -->
  <div id="toasts"></div>
  <!-- Main -->
</div>

<script type="module" src="/JS/manageExam.js"></script>
<%- include('comon/footer') %>
