<%- include('comon/header') %>

<!-- Customs -->
<style>
.ranking {
    margin-top: 40px;
    padding: 20px;
    margin: 10px;
    height: 90vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.ranking .nav .nav-item {
    background-color: #333;
    margin-right: 5px;
    border-radius: 10px 10px 0px 0;
     border-bottom: 3px solid rgb(32, 169, 89);
}
.active1 {
 background-color:rgb(32, 169, 89) !important;
}
.ranking .nav .nav-item:hover {
    background-color:rgb(32, 169, 89) ;
}
.ranking .nav .nav-item > a {
    color: white;
}

</style>
   
    <!-- Main -->
    <div class="main ">
          <%- include('comon/topBarSearch') %>
        <!-- Custom -->
         <div class="ranking">
               <!--Main-->
            <h6><%= title %></h6>

            <!-- Tab navigation -->
            <ul class="nav nav-tabs">
                 <li class="nav-item">
                <a class="nav-link <%= page1 === 1 ? 'active1' : '' %>" href="/admin/rank?page=allTime">All Time</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= page1 === 2 ? 'active1' : '' %>" href="/admin/rank/inMonth?page=inMonth">In Month</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= page1 === 3 ? 'active1' : '' %>" href="/admin/rank/inWeek?page=inWeek">In Week</a>
            </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content">
                <div id="allTime" class="tab-pane fade show active">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Avatar</th>
                                <th scope="col">Name</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data && data.length> 0) {%> <% data.forEach((user, index)=> { %>
                                    <tr>
                                        <th scope="row">
                                            <%= index + 1 %>
                                        </th>
                                        <td>
                                            <img src="<%= user?.avatar %>" alt="Avatar" width="60" 
                                            loading="lazy"
                                            />
                                        </td>
                                        <td>
                                            <%= user?.name %>
                                        </td>
                                        <td>
                                            <%= user?.Score %>
                                        </td>
                                       
                                    </tr>
                                    <% }) %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="4" class="text-center">No data</td>
                                            </tr>
                                            <% } %>
                                                <!-- The end data -->
                        </tbody>
                    </table>
                    <div class="card-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                    <a class="page-link" href="/admin/rank?page=<%= currentPage - 1 %>"
                                        tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <% for(let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="/admin/rank?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                            <a class="page-link"
                                                href="/admin/rank?page=<%= currentPage + 1 %>">Next</a>
                                        </li>
                    </div>
                   
                </div>

                <!-- MAIN -->
            </div>
         </div>
<script type="module" src="/JS/manageRank.js"></script>
            <%- include('comon/footer') %>