<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  />
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/aleart.css">
  <link rel="stylesheet" type="text/css" href="/styles/parents.css">
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
  <link rel="icon" type="image/png" href="/image/T-smart.png">
  <title>TSMART</title>
</head>
<body>
  <div class="container row" id="container">
    <!-- Thông Tin Học Sinh -->
    <div class="boxInfor col-lg-3 col-md-12">
      <form>
        <div class="header">
          <i class="fa-solid fa-layer-group"></i>
          <span id="IdStudent" data-id="<%= idStudents %>">Học sinh</span>
        </div>
        <div class="form-group">
          <label class="col-form-label">ID học sinh</label>
          <input
            type="text"
            value="<%= students?._id || 'Chưa có dữ liệu' %>"
            readonly="readonly"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="col-form-label">Tên học sinh</label>
          <input
            type="text"
            value="<%= students?.fullname || 'Chưa có dữ liệu' %>"
            readonly="readonly"
            class="form-control"
          />
        </div>
        <!-- <div class="form-group">
          <label class="col-form-label">Ca học</label>
          <input
            type="text"
            value="<%= ClassInStudesnt[0]?.study || 'Học sinh tạm thời chưa được xếp lớp' %>"
            readonly="readonly"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="col-form-label">Ngày học trong tuần</label>
          <input
            type="text"
            value="<%= ClassInStudesnt[0]?.days || 'Học sinh tạm thời chưa được xếp lớp' %>"
            readonly="readonly"
            class="form-control"
          />
        </div> -->
      </form>
    </div>

    <!-- Tiến Độ Học Tập -->
     <div class="feedBackBox col-lg-9 col-md-12">
      <div class="progressBox">
        <div class="row">
          <div class="section-header col-7">
            <h3 class="progressTitle">TIẾN ĐỘ HỌC TẬP</h3>
            <h4 class="studentName">Học sinh: <%= students?.fullname || 'Không xác định' %></h4>
          </div>
          <div class="time-filter col-5">
            <label for="time">Thời gian</label>
            <select id="time">
              <option value="all">Toàn Bộ</option>
              <% if (getAllMonth && getAllMonth.length > 0) { %>
                <% getAllMonth.forEach(item => { %>
                  <option value="<%= item?.month %>">Tháng <%= item?.month %></option>
                <% }) %>
              <% } %>
            </select>
          </div>
        </div>

        <div id="data">
          
        </div>
      </div>

      <!-- Nhận Xét -->

    </div>
  </div>
  <div id="toasts"></div>
  <script type="module" src="/JS/studentsParents.js"></script>
</body>
</html>
