<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link rel="stylesheet" type="text/css" href="/styles/aleart.css" />
    <!-- Style Respon -->
    <link rel="stylesheet" type="text/css" href="/styles/parents.css" />
    <!-- Bosstraps -->
    <link type="text/css" href="/styles/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/image/T-smart.png" />
    <title>TSMART</title>
  </head>
  <body>
    <div class="container row" id="container">
      <div class="boxInfor col-lg-3 col-md-12">
        <form>
          <div class="header">
            <i class="fa-solid fa-layer-group"></i>
            <span id="IdStudent" data-id="<%= idStudents %>"
              >Thông tin học sinh</span
            >
          </div>
          <div class="form-group">
            <label class="col-form-label">ID học sinh</label>
            <input
              type="text"
              value="<%=students._id%>"
              readonly="readonly"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="col-form-label">Mã Lớp</label>
            <input
              type="text"
              value="<%=ClassInStudesnt[0]?.nameClass || `Học sinh tạm thời chưa được xếp lớp`%>"
              readonly="readonly"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="col-form-label">Tên học sinh</label>
            <input
              type="text"
              value="<%=students.fullname%>"
              readonly="readonly"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="col-form-label">Ca học</label>
            <input
              type="text"
              value="<%=ClassInStudesnt[0]?.study || `Học sinh tạm thời chưa được xếp lớp`%>"
              readonly="readonly"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="col-form-label">Ngày học trong tuần</label>
            <input
              type="text"
              value="<%=ClassInStudesnt[0]?.days || `Học sinh tạm thời chưa được xếp lớp`%>"
              readonly="readonly"
              class="form-control"
            />
          </div>
        </form>
      </div>
      <div class="feedBackBox col-lg-9 col-md-12">
        <div class="row">
          <h3 class="col-9">Nhận xét từ giáo viên</h3>
          <div class="item col-3">
            <label for="time" class="disabled fw-medium">Thời gian</label>
            <select id="time" class="disabled">
              <option value="all">Toàn Bộ</option>
              <option value="1">Tháng 1</option>
              <option value="2">Tháng 2</option>
              <option value="3">Tháng 3</option>
              <option value="4">Tháng 4</option>
              <option value="5">Tháng 5</option>
              <option value="6">Tháng 6</option>
              <option value="7">Tháng 7</option>
              <option value="8">Tháng 8</option>
              <option value="9">Tháng 9</option>
              <option value="10">Tháng 10</option>
              <option value="11">Tháng 11</option>
              <option value="12">Tháng 12</option>
            </select>
          </div>
        </div>
        <!-- <table style="width: 100%" class="boxFeedBack">
          <tr>
            <th>Học viên</th>
            <th>Nội dung đánh giá</th>
            <th>Ngày tạo đánh giá</th>
          </tr>
          <tbody id="contentTable">
            <tr>
              <td>Quốc nguyễn</td>
              <td>
                - Sự nỗ lực và cố gắng trong học tập: Tốt - Mức độ hoàn thành
                bài tập: Cần nỗ lực thêm nữa - Tuấn Anh có tư duy lập trình ở
                mức khá, khả năng giải quyết vấn đề/ bài toán nhanh nhẹn tuy
                nhiên cần rèn luyện thêm tính cẩn thận và sự tỉ mỉ khi lập
                trình.
              </td>
              <td>24-10-2003</td>
            </tr>
          </tbody>
        </table> -->

        <!-- V2 -->
        <div
          data-name="<%=students.fullname%>"
          class="listFeedBack col-12"
          id="contentTable"
        >
          <div class="itemFeedBack">
            <div class="bgrFeedBack">
              <div class="contentFeedback">
                <p>
                  <strong>Kính gửi phụ huynh: </strong><%=students.fullname%>
                </p>
                <p class="content">
                  - Sự nỗ lực và cố gắng trong học tập: Tốt - Mức độ hoàn thành
                  bài tập: Cần nỗ lực thêm nữa - Tuấn Anh có tư duy lập trình ở
                  mức khá, khả năng giải quyết vấn đề/ bài toán nhanh nhẹn tuy
                  nhiên cần rèn luyện thêm tính cẩn thận và sự tỉ mỉ khi lập
                  trình. - Sự nỗ lực và cố gắng trong học tập: Tốt - Mức độ hoàn
                  thành bài tập: Cần nỗ lực thêm nữa - Tuấn Anh có tư duy lập
                  trình ở mức khá, khả năng giải quyết vấn đề/ bài toán nhanh
                  nhẹn tuy nhiên cần rèn luyện thêm tính cẩn thận và sự tỉ mỉ
                  khi lập trình. - Sự nỗ lực và cố gắng trong học tập: Tốt - Mức
                  độ hoàn thành bài tập: Cần nỗ lực thêm nữa - Tuấn Anh có tư
                  duy lập trình ở mức khá, khả năng giải quyết vấn đề/ bài toán
                  nhanh nhẹn tuy nhiên cần rèn luyện thêm tính cẩn thận và sự tỉ
                  mỉ khi lập trình. - Sự nỗ lực và cố gắng trong học tập: Tốt -
                  Mức độ hoàn thành bài tập: Cần nỗ lực thêm nữa - Tuấn Anh có
                  tư duy lập trình ở mức khá, khả năng giải quyết vấn đề/ bài
                  toán nhanh nhẹn tuy nhiên cần rèn luyện thêm tính cẩn thận và
                  sự tỉ mỉ khi lập trình.
                </p>
                <!-- Date -- Feed Back -->
                <div class="dateFeedback">
                  <strong>Ngày đánh giá</strong>
                  <p class="dateFeed">22 - 10 - 2003</p>
                  <p>TSMART</p>
                </div>
              </div>
              <!-- Icon  -->
              <div class="footerIcons row">
                <p class="itemIcon">
                  <a href="tel:0868552445 ">
                    <i class="fa-solid fa-phone"></i>
                    <span> 0868 552 445 </span>
                  </a>
                </p>
                <p class="itemIcon">
                  <a href="https://linktr.ee/tsmart_edu">
                    <i class="fa-solid fa-globe"></i>
                    <span>linktr.ee/tsmart_edu</span>
                  </a>
                </p>
                <p class="itemIcon">
                  <a href="https://linktr.ee/tsmart_edu">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>34 Lương Khánh Thiện - Liên Chiểu - TP Đà Nẵng</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="toasts"></div>
    <!-- <script type="module" src="/JS/studentsParents.js"></script> -->
  </body>
</html>
